@media screen and(min-width:429px) {
    header {
        margin-top: 70px;
        .logo {
            margin-left: 80px;
            margin-top: 0;
            margin-bottom: 0;
        }
    
        .bars {
            display: none;
        }
        .menu {
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            color: #555555;
            text-decoration: none;
            margin-left: 28px;
            margin-top: 10px;
        }
        .last {
            color: #FF3998;
            margin-right: 80px;
        }
    }
    .launching {
        margin-left: 80px;
        margin-top: 80px;
        .launching-header {
            font-weight: 900;
            font-size: 96px;
            line-height: 116px;
            width: 620px;
            margin-top: 0;
            margin-bottom: 24px;
        }
        .launching-image {
            position: absolute;
            height: 675px;
            top: 120px;
            left: 700px;
        }
        .launching-text {
            width: 537px;
            margin-bottom: 41px;
        }
        button {
            margin-bottom: 200px;
        }

    }
    .background {
        height: 320px;
        margin-left: 80px;
        .bg {
            position: absolute;
            left: 0;
            margin-left: 80px;
        }
        .bg-text {
            margin-bottom: 2rem;
            margin-left: 4rem;
            margin-top: 140px;
            width: 620px;
        }
        
    }
}
